<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>srvUsuario</servlet-name>
        <servlet-class>Servlets.SrvUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvCategoria</servlet-name>
        <servlet-class>Servlets.SrvCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvClientes</servlet-name>
        <servlet-class>Servlets.SrvCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvCargo</servlet-name>
        <servlet-class>Servlets.SrvCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvProductos</servlet-name>
        <servlet-class>Servlets.SrvProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvEmpleados</servlet-name>
        <servlet-class>Servlets.SrvEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvProveedores</servlet-name>
        <servlet-class>Servlets.SrvProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvUsus</servlet-name>
        <servlet-class>Servlets.SrvUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvTipo_Pago</servlet-name>
        <servlet-class>Servlets.SrvTipo_Pago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvVentas</servlet-name>
        <servlet-class>Servlets.SrvVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvReportes</servlet-name>
        <servlet-class>Servlets.SrvReporte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvUsuario</servlet-name>
        <url-pattern>/srvUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvCategoria</servlet-name>
        <url-pattern>/srvCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvClientes</servlet-name>
        <url-pattern>/srvClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvCargo</servlet-name>
        <url-pattern>/srvCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvProductos</servlet-name>
        <url-pattern>/srvProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvEmpleados</servlet-name>
        <url-pattern>/srvEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvProveedores</servlet-name>
        <url-pattern>/srvProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvUsus</servlet-name>
        <url-pattern>/srvUsus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvTipo_Pago</servlet-name>
        <url-pattern>/srvTipo_Pago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvVentas</servlet-name>
        <url-pattern>/srvVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvReportes</servlet-name>
        <url-pattern>/srvReportes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
